Repository AliBagheri2079/Photo-VanillaJS: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, npx stylelint

.lintstagedrc.json:

{
  "*.js": ["prettier --write", "eslint --fix"],
  "*.scss": "npx stylelint"
}

:wrench: perf: add many folder and files to ignore by eslint, prettier and stylelint
  .eslintignore
  .stylelintignore
Due: none

:hammer: perf: update many scripts realated to linting and formating
  .lintstagedrc.json
  package.json
Due: none

:zap: perf: add broserlist configuration
  package.json
Due: none

:wrench: perf: remove format command from lint staged file
  .lintstagedrc.json
Due: none

:art: refactor: improve file structure by delete and moving default files
  counter.js
  javascript.svg
  main.js
  public/vite.svg
  src/main.js
  style.css
Due: prettier --write, eslint --fix

:sparkles: feat: add many meta tag and svg logo file
  index.html
  public/logo.svg
Due: none

:sparkles: feat: add sass to project
  package-lock.json
  package.json
Due: none

:sparkles: feat: add bootstrap with icons to project
  package-lock.json
  package.json
Due: none

:wrench: perf: change browserlist config place to custom file according to bootstrap setup
  .browserslistrc
  package.json
Due: none

:wrench: perf: ignore many unuseful stylelint rules
  .stylelintrc.json
Due: none

:lipstick: style: create reset, normalize and bootstrap files
  index.html
  src/assets/scss/base/_index.scss
  src/assets/scss/base/_reset.scss
  src/assets/scss/main.scss
  src/assets/scss/vendors/_bootstrap.scss
  src/assets/scss/vendors/_normalize.scss
  src/main.js
Due: prettier --write, eslint --fix, npx stylelint

:lipstick: style: create many sass utility files
  src/assets/scss/utilities/_functions.scss
  src/assets/scss/utilities/_mixins.scss
  src/assets/scss/utilities/_placeholders.scss
  src/assets/scss/utilities/_variables.scss
Due: npx stylelint

:lipstick: style: clean and optimize two sass files
  src/assets/scss/base/_index.scss
  src/assets/scss/main.scss
Due: npx stylelint

:heavy_plus_sign: refactor: add bootstrap popperjs and change document theme to dark
  index.html
  package.json
Due: none

:sparkles: feat: add two important meta viewport tags
  index.html
Due: none

:sparkles: feat: add charm and gilda font family links
  index.html
Due: none

:wrench: refactor: ignore many unuseful stylelint rules
  .stylelintrc.json
Due: none

:lipstick: style: add many style guides to utility files
  src/assets/scss/utilities/_mixins.scss
  src/assets/scss/utilities/_placeholders.scss
  src/assets/scss/utilities/_variables.scss
Due: npx stylelint

:sparkles: feat: create preloader with styles
  index.html
  src/assets/scss/layout/_preloader.scss
Due: npx stylelint

:heavy_plus_sign: feat: add gsap plugin
  package.json
Due: none

:sparkles: feat: handle preloader js logic with gsap
  src/vendors/gsap.js
Due: prettier --write, eslint --fix

:lipstick: style: update many bootstrap default styles
  src/assets/scss/main.scss
  src/assets/scss/vendors/_bootstrap.scss
Due: npx stylelint

:heavy_plus_sign: feat: add circular revealer plugin
  package.json
Due: none

:sparkles: feat: full create header layout
  index.html
  src/Layout/Navbar/Offcanvas.js
  src/assets/images/girl.png
  src/assets/images/mount.png
  src/assets/images/rock.png
  src/assets/scss/components/buttons/_index.scss
  src/assets/scss/components/buttons/_nav-toggler.scss
  src/assets/scss/layout/_header.scss
  src/assets/scss/layout/_index.scss
  src/assets/scss/layout/_navbar.scss
  src/assets/scss/layout/_offcanvas.scss
  src/utils/changeNavbarState.js
Due: prettier --write, eslint --fix, npx stylelint

:sparkles: feat: full create content layout
  index.html
  src/assets/scss/components/_index.scss
  src/assets/scss/components/form/_index.scss
  src/assets/scss/components/form/_location.scss
  src/assets/scss/layout/_gallery.scss
  src/components/Buttons/NavToggler.js
  src/components/Canvas/Gradiant.js
  src/main.js
Due: prettier --write, eslint --fix, npx stylelint

:heavy_plus_sign: feat: add lenis plugin
  package-lock.json
  package.json
Due: none

:sparkles: feat: create scroll animation with lenis
  src/assets/scss/base/_index.scss
  src/vendors/gsap.js
  src/vendors/lenis.js
Due: prettier --write, eslint --fix, npx stylelint

:sparkles: feat: setup absolute import config
  jsconfig.json
Due: none

:bulb: docs: add many todo comments for next project
  index.html
Due: none

:memo: docs: add project readme documente file
  README.md
Due: none

:sparkles: feat: write parcel command insteadof vite command
  package-lock.json
  package.json
Due: none

:memo: docs: change boundle description in readme file
  README.md
Due: none

:memo: doc: add screenshot file
  README.md
  Screenshot.png
Due: none
